.form {
  &__form-row {
    &:first-of-type {
      margin-bottom: 32px;
    }

    &:nth-of-type(2) {
      margin: 32px 0 40px 0;
      .input-text__error {
        visibility: visible;
      }

    }

    &:nth-of-type(3) {
      margin: 0 0 48px 0;
    }

    &:nth-of-type(4) {
      margin: 32px 0 40px 0;
    }

    &:nth-of-type(5) {
      margin: 0 0 40px 0;
    }
  }
}
